<%- include('../partials/header') %>

<div class="wrapperIngredients">
     <div class="leftWrapper">
     <div class="leftIngredients">
          <div id="innerContent">
               <div id="title"><%= newDrink.name %></div>
               <h3>add ingredients</h3>
               <input type="text" name="adder" id="newLiq" />
               <input type="text" name="adder" id="newAmount" />
               <br />
               <button class="btn" id="addIngred">ADD</button>

               
          </div>
          </div>
          <div class="wrapperSaveIngredients">
               <div id="innerContent">
               <div>
                    <h3>upload a pic</h3>
               </div>
               <form
                    id="add-drink"
                    action="/drinks/<%= newDrink._id %>/addIngredients" enctype="multipart/form-data"
                    method="POST"
               >
                    <ul id="ingredientList"></ul>
                         <input type="file" name="image">
                    <input type="submit" value="Save Drink" />
               </form>
          </div>
     </div>
     </div>
     <div class="rightIngredients">
          <div id="innerContent">
               <div id="title"><%= newDrink.name %></div>
               <h3><%= newDrink.description %></h3>
               <div id="ingredientsMake">
                    <div id="ingredientBox">Ingredients</div>
                    <ul id="drink-display"></ul>
               </div>
          </div>
     </div>
</div>
<%- include('../partials/footer') %>
