<%- include('../partials/header') %>
<div> 
    <div class="d-flex align-items-center flex-column">
<div class="wrapperShow">
<h1> <%=drink.name%> </h1>
<h3><%= drink.description %></h3>
<% drink.ingredients.forEach(e => { %>
    <h6><%= e.ingredients %> - <%= e.amount %></h6>
    <br>

<% }) %>
<img class="frontPageImg" src="/uploads/<%= drink.imageName %>" alt="image attached to Drink">
<% if (user && user._id.equals(drink.user)) { %>
    <form id="delete-drink" action="/drinks/<%=drink._id%>?_method=DELETE" method="POST">
    <input type="submit" value="Delete">
    </form>
    <form id="Update-drink" action="/drinks/<%=drink._id%>/edit">
    <input type="submit" value="Update">
    </form>
 
<% } %>
</div>
    <ul>
        <% drink.comments.forEach(e => { %>
         <li>
            <%= e.content %>
            <br>
            <%= e.rating %>
        <% if (user && user._id.equals(e.user)) { %>
            <form id="delete-comment" action="/drinks/<%=drink._id%>/comments/<%=e._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete">
            </form>
         
        <% } %>

         </li>
        <% }) %>
    </ul>
<% if (user) { %>
 

<form id="add-review-form" method="POST" action="/drinks/<%=drink._id%>/comments">
    <label>Comment:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
     <select name="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
     </select>
     <input type="submit" value="Add Comment">
     <% } %>

</form>
    </div>
</div>
</div>
<%- include('../partials/footer') %>