<%- include('../partials/header') %>
<div>
     <div class="d-flex align-items-center flex-column">
          <div class="wrapperShow">
               <div id="showTop">
                    <img
                         class="showImg"
                         src="/uploads/<%= drink.imageName %>"
                         alt="image attached to Drink"
                    />
                    <div id="titleShow"><%=drink.name%></div>
               </div>
               <div id="showBot">
                    <div id="ingredientsShow">
                         <div id="ingredientBox">Ingredients</div>
                         <ul>
                              <% drink.ingredients.forEach(e => { %>
                              <li>
                                   <h4>
                                        <%= e.ingredients %> - <%= e.amount %>
                                   </h4>
                              </li>

                              <% }) %>
                         </ul>
                    </div>
                    <div id="descriptionShow">
                         <h3><%= drink.description %></h3>
                    </div>
                    <% if (user && user._id.equals(drink.user)) { %>
                    <div id="flex-row-userCrud">
                         <form
                              id="delete-drink"
                              action="/drinks/<%=drink._id%>?_method=DELETE"
                              method="POST"
                         >
                              <input class="btn" type="submit" value="Delete" />
                         </form>
                         <form
                              id="Update-drink"
                              action="/drinks/<%=drink._id%>/edit"
                         >
                              <input class="btn" type="submit" value="Update" />
                         </form>
                    </div>

                    <% } %>
               </div>
          </div>
          <ul id="commentAddSection-no-bg-color">
               <% drink.comments.forEach(e => { %>
               <div id="commentAddSectionMax">
                    <li id="commentList">
                         <div id="flex-row-comment">
                              <div id="flex-column-avatar">
                                   <img
                                        class="avatarImg"
                                        alt="avatar"
                                        src="<%= e.userAvatar %>"
                                   />
                                   <%=e.userName%>
                              </div>
                              <div id="commentContent">
                                   <table>
                                    <tbody>
                                        <tr>
                                            <td>rating</td>
                                             <td></td>
                                        </tr>
                                             <tr>
                                                <td><%= e.rating %></td>
                                                  <td><%= e.content %></td>
                                             </tr>
                                        </tbody>
                                   </table>
                              </div>
                         </div>
                         <% if (user && user._id.equals(e.user)) { %>

                         <form
                              id="delete-comment"
                              action="/drinks/<%=drink._id%>/comments/<%=e._id%>?_method=DELETE"
                              method="POST"
                         >
                              <input class="btn" type="submit" value="Delete" />
                         </form>

                         <% } %>
                    </li>
                    <br>
               </div>
               <% }) %>
          </ul>
          <% if (user) { %>

          <div id="commentAddSection">
               <form method="POST" action="/drinks/<%=drink._id%>/comments">
                    <div id="commentAddContentBox">
                         <div id="flex-column-width">
                              Comment:
                              <textarea name="content"></textarea>
                         </div>
                         <div id="flex-column">
                              Rating:
                              <select name="rating">
                                   <option value="1">1</option>
                                   <option value="2">2</option>
                                   <option value="3">3</option>
                                   <option value="4">4</option>
                                   <option value="5">5</option>
                                   <option value="6">6</option>
                                   <option value="7">7</option>
                                   <option value="8">8</option>
                                   <option value="9">9</option>
                                   <option value="10">10</option>
                              </select>
                         </div>
                    </div>
                    <input class="btn" type="submit" value="Add Comment" />
               </form>

               <% } %>
          </div>
     </div>
</div>
<%- include('../partials/footer') %>
