<%- include('../partials/header') %>
<div class="wholeWrapperUpdate">
<div class="leftWrapperUpdate">
     <div id="innerContent">
     <div id="title"><%=drink.name%></div>
     <div class="ingredientBoxBorderTopBottom">Description</div>
     <p><%= drink.description %></p>
     <form id="update-description"
     action="/drinks/<%=drink._id%>/descriptions?_method=PUT"
     method="POST">
          <textarea
                         id="typeDescriptionUpdate"
                         type="text"
                         name="description"
                    ></textarea>
                    <br>
          <button class="btn" type="submit">Update Description</button>
     </form>
     </form>
     <div class="ingredientBoxBorderTopBottom">Ingredients</div>
     <% drink.ingredients.forEach(e => { %>
     <h3><%= e.ingredients %> - <%= e.amount %></h3>
     <form
        id="Update-Ingredients"
          action="/drinks/<%=drink._id%>/ingredients/<%=e._id %>?_method=PUT"
          method="POST"
     >
          <input name="ingredients" value="<%=e.ingredients %>" />
          <input name="amount" value="<%=e.amount %>" />
          <button class="btn" type="submit">Update</button>
     </form>
     <form
          id="delete-ingredient"
          action="/drinks/<%=drink._id%>/ingredients/<%=e._id%>?_method=DELETE"
          method="POST"
     >
          <input class="btn" type="submit" value="Delete" />
     </form>
     <br />
     <% })%>
     <form
          id="add-ingredient"
          action="/drinks/<%= drink._id %>/newIngredients"
          method="POST"
     >
          <input type="text" name="ingredients" />
          <input type="text" name="amount" />
          <br>
          <input class="btn" type="submit" value="Add New Ingredient" />
     </form>
     </div>
</div>
<div class="rightWrapperUpdate">
     <div id="innerContent">
     <% if (drink.imageName) { %>
          <img class="imgUpdate" src="/uploads/<%=drink.imageName%>" alt="image attached to Drink">
      <% } %>
          <form method="POST" action="/drinks/<%= drink._id %>/upload?_method=PUT" enctype="multipart/form-data">
              <input type="file" name="image">
              <button type="sumbit">Change Photo</button>
          </form>


     </div>
</div>
</div>

<%- include('../partials/footer') %>
